/* Стили для стилизации выпадающего списка */
@font-face {
  font-family: "OceanwidePrimerSemibold";
  src: url("path/to/OceanwidePrimer-Semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  --silver: #d4d4dc;
  --background-light: #393f4d;
  --yellow: #feda6a;
  --background-dark: #1d1e22;
}

body {
  height: 100vh;
  font-family: "OceanwidePrimerSemibold", sans-serif;
  background-color: var(--background-dark);
}

p {
  line-height: 1.8;
  margin-bottom: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: var(--background-light);
}

.header__dropbtn {
  background: linear-gradient(white, var(--yellow));
  color: var(--background-light);
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 7px;
  margin-right: 30px;
}

.header__name {
  color: var(--silver);
  font-weight: bold;
  font-size: 35px;
  font-style: oblique;
  margin-left: 30px;
}

.header__dropdown {
  position: relative;
  display: block;
  width: auto;
  display: flex;
  flex-direction: row;
}

.header__container {
  display: none;
  min-width: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.header__container a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background: (0, 0, 0, 0);
}

.header__container a:hover {
  display: flex;
  background-color: #f1f1f1;
}

.header__dropdown:hover .header__container {
  display: flex;
}

.header__item {
  background-color: var(--silver);
  margin-right: 10px;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.header__item:active {
  border: 2px solid var(--yellow);
}

.navigation {
  height: 5%;
  background-color: #333346;
}

.navigation__container {
  margin: 0 30px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation__button {
  background-color: var(--yellow);
  border: none;
  width: 160px;
  height: 85%;
  color: var(--background-light);
  border-radius: 5px;
}

.navigation__button:hover {
  background-color: #b49949;
}

.navigation__button:active {
  background-color: #f0da98;
}

.mainPart {
  height: 77%;
  display: flex;
  flex-direction: row;
}

.mainPart__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3%;
  overflow-y: auto;
}

.content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__text {
  color: var(--silver);
  width: 750px;
  font-size: 24px;
  margin-bottom: 35px;
}

.mainPart__nav {
  width: 25%;
  border-right: 1px solid var(--background-light);
}

.content__name {
  color: var(--silver);
  font-size: 36px;
  margin-bottom: 25px;
}

.content__subtitle {
  color: var(--silver);
  font-size: 32px;
  margin-bottom: 30px;
}

#content__imageContainer {
  width: 750px;
  height: 650px;
  overflow: hidden;
  position: relative;
  background-color: var(--background-light);
  border-radius: 8px;
  margin-bottom: 10rem;
}

#content__imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  display: none;
  transition: opacity 0.5s, transform 0.5s;
  border-radius: 8px;
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
  color: var(--background-dark);
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.nav__list {
  color: var(--silver);
  height: 100%;
  width: 100%;
  margin: 10% 5%;
}

.nav__item {
  width: 150px;
  margin-bottom: 30px;
  transition: background-color 0.3s ease;
  border-radius: 15px;
  padding: 5px;
  padding-left: 20px;
}

.nav__item:hover {
  cursor: pointer;
  background-color: #414141;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-light);
  height: 8%;
  padding: 0 30px;
}

.footer__text {
  color: var(--silver);
}

.footer__text:hover {
  color: var(--yellow);
}

.footer__img {
  cursor: pointer;
}
